.facility-card-card {
     width: 18vw;
     cursor: auto;
     /* border-top: 0.35vw solid red; */
     box-shadow: 0 0 1.6vw solid red rgba(0, 0, 0, 0.6);
     background: transparent !important;
}

.facility-card-image {
     /* width: 18vw;
     height: 12.5vw; */
     width: 17vw;
    height: 10.5vw;
    margin-top: 0.5vw;
    border-radius: 16px;
}

.facility-card-header {
     font-weight: bold;
     text-align: center;
     font-size: 1vw;
     color: #8A3324;
}

.facility-card-content {
     text-align: center;
     font-size: 0.8vw;
     margin-top: 0.32vw
}

.css-bhp9pd-MuiPaper-root-MuiCard-root{
     border-radius: 16px !important;
}

.facility-card-box{
     display: flex !important;
     flex-direction: column;
     align-items: center;
     
}
.facility-card-box:hover{
  background-color: white;
  transition: background-color 0.3s;
}

@media (max-width: 600px) {
     .facility-card-card {
          width: 40vw;
     }

     .facility-card-image {
          width: 40vw;
          height: 40vw;
     }

     .facility-card-header {
          font-size: 3vw;
     }

     .facility-card-content {
          font-size: 2.5vw;
          margin-top: 1vw
     }
}