.footer{
    position: relative;
        width: 100vw;
        background: black;
        margin-top: 6.25vw,
}
.footer-container{
    display: flex;
    color: #FFFFFF;
    flex-wrap: wrap;
}
.footer-social-media-icons{
  display:flex;
}
  /* Style for the navigation links */
  .nav-link {
    margin-left: 5vw;
    cursor: pointer;
    font-size: 1vw;
    margin-bottom: 0.625vw;
  }
  .nav-link-section {
    margin-left: 38vw;
    cursor: pointer;
    font-size: 1vw;
    margin-bottom: 0.625vw;
  }
  
  /* Style for the main headings */
  .main-heading {
    font-size: 1.4vw;
    margin-left: 5vw;
    margin-bottom: 1vw;
    margin-top: 2.5vw;
  }
  
  /* Style for the section headings */
  .section-heading {
    margin-left: 38vw;
    font-size: 1.4vw;
    margin-bottom: 1vw;
    margin-top: 2.5vw;
  }
  
  .footer-contact-title {
    font-size: 1.4vw;
    margin-bottom: 1vw;
    margin-top: 2.5vw;
    margin-left: 5vw;
  }
  
  
  .address-line {
    font-size: 1vw;
    margin-left: 5vw;
  }
  .social-media-button1 {
    cursor: pointer;
    margin-left: 5vw;
    font-size: 2.5vw;
    margin-bottom: 3.125vw;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
  }
  .social-media-button {
    cursor: pointer;
    margin-left: 1vw;
    font-size: 1.5vw;
    margin-bottom: 3.125vw;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
  }
  
  .footer-whatsapp-icon {
    width: 1.125vw;
    height: 1.125vw; 
  }
  /* Common style for all elements */
.absolute-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    font-family: cursive;
  }
  
  .footer-chip1 {
    font-size: 0.9375vw;
    /* color: gold; */
  }
  .footer-chip2 {
    font-size: 0.9375vw;
    /* color: gold; */
  }
  .footer-icon {
    font-size: 1.5vw;
    margin-left: 0.625vw;
  }
  
  .footer-image {
    /* width: 7vw; */
    height: 5vw;
  }
  .top-1 {
    top: 1vw;
  }
  
  .top-3 {
    top: 3vw;
  }
  
  .top-5 {
    top: 5vw;
  }
  
  .top-7 {
    top: 7vw;
  }
  
  .top-10 {
    top: 10vw;
  }
  

@media (max-width: 768px)  {
 .footer{   margin-top: 15vw
 }
.footer-container{
    margin-top: 30vw;
}
.footer-section-title{
    font-size: 3vw;
  }
  .main-heading {
    font-size: 4.25vw;
    margin-left: 18vw;
    margin-top: 40vw;
  }
  .section-heading {
    font-size: 4.25vw;
    margin-bottom: 3vw;
    margin-top: 7vw;
    margin-left: 13vw;
  }
  .nav-link {
    margin-left: 18vw;
    font-size: 3vw;
    margin-bottom: 2.5vw;
  }
  .nav-link-section {
    margin-left: 13vw;
    font-size: 3vw;
    margin-bottom: 2.5vw;
  }
  .address-line {
    font-size: 3vw;
    margin-left: 17vw;
  }
  .footer-contact-title {
    font-size: 4vw;
    margin-bottom: 3vw;
    margin-top: 7vw;
    margin-left: 17vw;
    font-weight: bold;
  }
  .social-media-button1 {
    margin-left: 17vw;
    font-size: 20px;
    margin-bottom: 3.125vw;
    margin-top: 3vw;
  }
  .social-media-button {
    margin-left: 2.5vw;
    font-size: 20px;
    margin-bottom: 3.125vw;
    margin-top: 3vw;
  }
  
  .footer-whatsapp-icon {
    width: 3vw; 
    height: 3vw; 
  }
  .absolute-centered {
    font-size: 4vw;
  }
  .footer-chip1 {
    font-size: 3vw;
  }
  .footer-chip2 {
    font-size: 3vw;
  }
  .footer-icon {
    font-size: 4vw;
    margin-left: 2vw;
  }
  
  .footer-image {
    /* width: 20vw; */
    height: 13vw;
  }
  .top-1 {
    top: 2.5vw;
  }
  
  .top-3 {
    top: 8vw;
  }
  
  .top-5 {
    top: 12vw;
  }
  
  .top-7 {
    top: 17vw;
  }
  
  .top-10 {
    top: 25vw;
  }
  .footer-icon {
    font-size: 4vw;
    margin-left: 1.5vw;
  }
  .footer-social-media-icons{
    flex-wrap: wrap;
  }
}