/* src/components/Header.css */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:5vw;
box-shadow: 0% 0.1333% 0.2667% rgba(0, 0, 0, 0.2);
  background-color:black;
  z-index:900;
}

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
.header-content-container {
  display: flex;
  color: gold;
}
.header-title{
  text-align: center;
  color:gold;
  font-size: 1.5vw;
  font-family: cursive;
  margin-right: 10vw;
}

.header-link {
  margin-left: 1.25vw;
  cursor: pointer;
  font-size: 1.25vw;
}


.whatsapp-container {
  color: gold;
  margin-right: 0.75vw;
  display:flex;
}

.whatsapp-icon {
  font-size: 1;
  cursor: pointer;
}

.whatsapp-number {
 font-size: 1vw;
  cursor: pointer;
  padding:0.5rem;
  border-bottom: 2px solid gold;
}

.register-button {
  margin-right: 0.75vw;
  font-size: 1.125vw;
  border-radius: 0.625vw;
  padding: 0.625vw 0.625vw;
  cursor: pointer;
}

.login-button {
  margin-right: 1.9vw;
  font-size: 1.125vw;
  border-radius: 0.625vw;
  padding: 0.625vw 0.625vw;
  cursor: pointer;
}
  /* styles.css */

/* Define the modal class to create a modal overlay */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5);  */
  z-index: 1000; /* Adjust the z-index to control the stacking order */
}
.login-modal-header{
  font-size: 25px; font-weight: bold;margin-left: 2vw;color: chocolate;
}
.login-modal-lebel1{
   font-size: 1.25vw; margin-top: 1.25vw;margin-left: 2vw;color: blue;
}
.login-modal-lebel2{
  font-size: 1.25vw; margin-top: 1.25vw;margin-left: 2vw;color: blue;
}
.login-modal-input{
font-size: 1.15vw; width:25vw; padding: 10px;margin-left: 2vw;
}
/* Define the modal-content class to style the modal content */
.modal-content {
  background: white;
  padding: 1.3333%;
box-shadow: 0% 0% 3.3333% rgba(0, 0, 0, 0.2);
border-radius: 5vw;
margin-left: 29vw; margin-right:29vw; margin-top: 1.25vw;
background-color: lightyellow;
}
.title{
 align-items: center;
 
}
.button-container{
  display: flex;
}
/* Define a class for the form container */
.registration-modal-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28.125vw; /* Approximately 450/16 */
  margin-left: 3.5vw;

}

/* Define a class for the heading "User Registration" */
.registration-modal-form-heading {
  font-size: 1.5625vw; /* Approximately 25/16 */
  font-weight: bold;
  color:chocolate;
  margin-left: 5vw;
}

/* Define a class for the columns */
.registration-modal-form-columns {
  display: flex;
  text-align: center;
}

/* Define a class for the left column */
.registration-modal-left-column {
  flex: 1;
  padding-right: 1vw; /* Approximately 20/16 */
}

/* Define a class for the right column */
.registration-modal-right-column {
  flex: 1;
  padding-left: 1vw; /* Approximately 20/16 */
}

/* Define a class for common input fields */
.registration-modal-form-input {
  font-size: 1.125vw; /* Approximately 18/16 */
  width: 15vw; /* Approximately 11/16 */
  padding: 0.3125vw; /* Approximately 5/16 */
  margin-top: 0.5vw; /* Approximately 20/16 */
  margin-left: 1vw; /* Approximately 10/16 */
  margin-bottom: 0.5vw;
  color: blue;
}

/* Define a class for buttons */
.registration-modal-form-button {
  font-size: 1.25vw; /* Approximately 20/16 */
  cursor: pointer;
  margin-right: 0.5vw; /* Approximately 10/16 */
  text-align: center;
}
.registration-modal-form-input1 {
  font-size: 1.125vw; /* Approximately 18/16 */
  width: 32vw; /* Approximately 11/16 */
  padding: 0.3125vw; /* Approximately 5/16 */
  margin-top: 0.75vw; /* Approximately 20/16 */
  margin-left: 3.5vw; /* Approximately 10/16 */
  margin-bottom: 1.5vw;

}
.registration-modal-form-input2 {
  font-size: 1.125vw; /* Approximately 18/16 */
  width: 13vw; /* Approximately 11/16 */
  padding: 0.3125vw; /* Approximately 5/16 */
  margin-top: 0.75vw; /* Approximately 20/16 */
  margin-left: 3.5vw; /* Approximately 10/16 */
  margin-bottom: 1.5vw;
 
}

/* Define a class for labels */
.registration-modal-form-label {
  margin-left: 0.03125vw; /* Approximately 0.5/16 */
  color: blue;
}

/* Define a class for the "Address" label */
.registration-modal-address-label {
  font-size: 1.25vw;
  margin-left: 3.43125vw; 
  color: blue;
}

@media (max-width: 600px) {
  .header-title {
    margin-top: 2vw;
    font-size: 4vw ;
    margin-left: 2vw;/* Adjust the font size for smaller screens */
  }

  .header-container {
    display: block; /* Remove display: flex; to stack items vertically */
  }

  .whatsapp-number {
    font-size: 1.5vw; /* Adjust the font size for smaller screens */
  }
.fixed-header{
  height:35vw
}
.header-link {
  font-size: 4vw;
  margin-left: 3vw;
}
.whatsapp-number {
  font-size: 4vw;
 }
 .button-container{
  justify-content: space-between;
  margin-top: 3vw;
}
.login-button{
  font-size: large;
}
.register-button{
  font-size: 4vw;
  margin-right: 15vw;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1000; /* Adjust the z-index to control the stacking order */
}
.login-modal-header{
  font-size: 25px; font-weight: bold;
}
.login-modal-lebel1{
   font-size: 4vw; margin-top: 4vw;
}
.login-modal-lebel2{
  font-size: 4vw; margin-top: 4vw;
}
.login-modal-input{
font-size: 3.5vw; width:50vw; padding: 10px;margin-top: 2vw;
}
/* Define the modal-content class to style the modal content */
.modal-content {
  background: white;
  padding: 1.3333%;
box-shadow: 0% 0% 3.3333% rgba(0, 0, 0, 0.2);
border-radius: 1vw;
margin-left: 20vw; margin-right:15vw; margin-top: 4vw;
}
.registration-modal-form-container {
  width: 80.125vw; /* Approximately 450/16 */
  margin-left: 0vw;
}

/* Define a class for the heading "User Registration" */
.registration-modal-form-heading {
  font-size: 5vw; 
  margin-right: 15vw;

}

.registration-modal-left-column {
  padding-right: 1vw; /* Approximately 20/16 */
  margin-right: 5vw;
}

/* Define a class for the right column */
.registration-modal-right-column {
  flex: 1;
  padding-left: 1vw; /* Approximately 20/16 */
  margin-right: 20vw;
}

/* Define a class for common input fields */
.registration-modal-form-input {
  font-size: 3.5vw; /* Approximately 18/16 */
  width: 24vw; /* Approximately 11/16 */
  padding: 0.3125vw; /* Approximately 5/16 */
  margin-top: 2vw; /* Approximately 20/16 */
  margin-left: 0vw; /* Approximately 10/16 */
  margin-bottom: 0vw;
}

/* Define a class for buttons */
.registration-modal-form-button {
  font-size: 3.5vw; /* Approximately 20/16 */
  margin-right: 15vw;
  margin-top: 1.5vw;
}
.registration-modal-form-input1 {
  font-size: 3.3vw; /* Approximately 18/16 */
  width: 45vw; /* Approximately 11/16 */
  padding: 0.3125vw; /* Approximately 5/16 */
  margin-top: 1.5vw; /* Approximately 20/16 */
  margin-right: 25vw; /* Approximately 10/16 */
  margin-bottom: 1.5vw;
}
.registration-modal-form-input2 {
  font-size: 3vw; /* Approximately 18/16 */
  width: 20vw; /* Approximately 11/16 */
  padding: 1vw; /* Approximately 5/16 */
  margin-top: 2vw; /* Approximately 20/16 */
  margin-left: 3.5vw; /* Approximately 10/16 */
  margin-bottom: 1.5vw;
}

/* Define a class for labels */
.registration-modal-form-label {
  margin-left:1vw; /* Approximately 0.5/16 */
  margin-top: 1.75vw;
  font-size: 2vw;
}

/* Define a class for the "Address" label */
.registration-modal-address-label {
  font-size: 2vw;
  margin-right: 23vw; 
  margin-top: 1vw;
}
  /* Add more styles as needed for smaller screens */
}

.mob-header{
  display: none;
}

@media only screen and (max-width:786px){
  .web-header{
    display: none;
  }

  .mob-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 74px;
    background: #e5e5e5;
  }

  .modal-headerlist{
    width: 38vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    background-color: rgb(0 142 140);
    right: 2vw;
    position: fixed;
    z-index: 100000;
    flex-direction: column;
  }
  .header-content-container {
    display: flex;
    color: white;
}

  .displaynone{
    display: none;
  }
  .displayflex{
    display: flex;
  }

  .menu-header{
    margin-right: 2vw;
  }
}

