/* HomePage.css */

/* Style for the image slider section */

 .main-image{
    width: 100vw;
    height:35vw
 } 
  .image-container {
    margin-top: 2.1875vw; 
  }
  .homepage-whatsapp-icon{
    position:fixed;top:87vh;left: 95vw;z-index: 1000;
  }
  .booking-card {
    position: absolute;
    top: 35vw; /* 150px */
    background-color: transparent;
    margin-left: 6vw;
  }
  
  .logo {
    position: absolute;
    top: 5vw; /* 300px */ /* 15px */
    width: 7vw;
    height: 4.5vw;
  }
  .more-rooms-button{
    font-size: 1.7vw;
    margin-left: 1vw;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.625vw; /* 10px */
border:0.2vw solid black;
cursor: pointer;
font-weight: bold;
  }
  .booking-buttons{
    font-size: 1.7vw;
    margin-left: 1vw;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.625vw; /* 10px */
    border:0.2vw solid black;
    cursor: pointer;font-weight: bold;
  }
  .our-rooms-title {
    margin-top: 14vw;
    margin-bottom: 2.5vw;
    font-size: 1.875vw; /* Equivalent to 30/16vw */
    text-align: center;
    font-weight: bold;
  }
  
  .our-rooms-title span {
    border-bottom: 2px solid #B8860B;
    display: inline-block;
    font-family: cursive;
    color: #B8860B;
  }
  .title-page {
    margin-top: 4vw;
    margin-bottom: 2.5vw;
    font-size: 1.875vw; /* Equivalent to 30/16vw */
    text-align: center;
    font-weight: bold;
  }
  
  .title-page span {
    border-bottom: 2px solid #B8860B;
    display: inline-block;
    font-family: cursive;
    color: #B8860B;
  }
  /* Styling for "OUR ROOMS" section */
  .rooms-section {
    
    margin-top: 6vw; /* 150px */
    display: flex;
  }
  .buttons-container{
    position: absolute;
    display: flex;
    top: 20vw;
    left:36vw;
    margin-right: 30vw;
  }
  .room-card{
    margin-left: 14vw;
  }
  .room-image{
    width:180vw;
    height:30vw;
  }
  /* Styling for "OUR FACILITIES" section */
  .facilities-section {
    display: flex;
    margin-left: 0vw; /* 90px */
    flex-wrap: wrap; 
  }
  
  .facility-card {
    margin-left: 6.125vw;
    margin-top: 2vw;
  }
  .space{
    margin-left: 0.5vw;
  }
  /* Additional Facility Cards should have specific class names */

  
  /* Styling for "MORE FACILITIES" button */
  .more-facilities-button {
    text-align: center;
    margin-top: 3.25vw; /* 20px */
  }
  
  .more-facilities-button button {
    font-size: 1.2vw;
    padding: 0.8vw; /* 10px */
    cursor: pointer;
    border: 0.125vw solid #8A3324;
    border-radius: 0.625vw; /* 10px */
    font-weight: bold;
    background-color: black;
    color: gold;

  }
  
  /* Styling for "TESTIMONIALS" section */
  .testimonials-section {
    display: flex;
    
    margin-top: 5vw;
    flex-wrap: wrap; 
  }
  
  
  /* Styling for "Hotel Services" section */
  .hotel-services-section {
    display: flex;
    margin-top: 5.625vw; /* 90px */
  }
  .services-container {
    display: flex;
    margin-top: 1vw;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  .service {
    text-align: center;
    margin-left: 11vw;
  }
  
  .service-icon {
    font-size: 4vw;
    color: #8A3324;
  }
  
  .service-title {
    margin-top: 1vw;
    font-weight: bold;
    font-size: 1.5vw;
    color: #8A3324;
  }
  
  .service-description {
    width: 18vw;
    margin-top: 1vw;
    font-size: 1.2vw;
  }
  
  
  /* Styling for "REACH US" section */
  .reach-us-section {
    display: flex;
    margin-left: 5.625vw; /* 90px */
    margin-bottom: 3.125vw; /* 50px */
    flex-wrap: wrap;
  }
  
  
  .contact-details {
  margin-left: 4.375vw; 
}

.contact-title {
  font-size: 1.25vw;
  font-weight: bold;
  color: #8A3324;
}

.phone-numbers {
  display: flex;
  font-size: 1vw;
  margin-top: 0.625vw;
  align-items: center;
}

.phone-icon {
  font-size: 1vw;
}

.phone-number {
  font-size: 1vw;
}

.social-title {
  margin-top: 7vw;
  font-size: 1.25vw;
  font-weight: bold;
  color: #8A3324;
}

.social-media-links {
  
  display: flex;
  flex-direction: column;
}

.social-media-link {
    margin-top: 0.625vw;
  margin-right: 0.625vw;
}

.social-media-link a {
  color: gold;
  font-size: 1.125vw;
  font-weight: bold;
}

.social-media-link a:hover {
  text-decoration: underline;
  
}


  /* Additional Social Media Links should have specific class names */
  @media (max-width: 600px)  {
    .image-slider img {
     top: 10vw; /* 35px */
      }
      .rooms-section {
        flex-direction: column;
           align-items: center;
    
      }
      .room-card{
        justify-items: center;
        justify-content: center;
        margin-right: 17vw;
      }
      .image-card{
        margin-left: 7vw;
        margin-top: 5vw;
      }
      .more-facilities-button button {
        font-size: 2vw;
      }
      .title-page {
        font-size: 5vw; /* Equivalent to 30/16vw */
      }
      .our-rooms-title {
        font-size: 5vw;
        margin-top: 80vw;
      }
      .service-icon {
        font-size: 10vw;
        
      }
      .service-title {
        margin-top: 3vw;        
        font-size: 4vw;
        
      }
      .service-description {
        margin-top: 1vw;
        font-size: 3vw;
        width: 50vw;
      }
      .service {
        margin-left: 30vw;
      }
      .reach-us-section {
        display: flex;
       flex-direction: column;
      }
      .contact-details {
        font-size: 1vw;  
      }
      .contact-title {
        font-size: 5vw;
        margin-top: 7vw;
      }
      .phone-numbers {
        font-size: 3vw;
        margin-top: 2vw;
        left: 5vw;
      }
      .phone-icon {
        font-size: 3vw;
      }
      
      .phone-number {
        font-size: 3vw;
      }
      
      .social-title {
        margin-top: 7vw;
        font-size: 1.25vw;
      }
      .space{
        margin-left: 2vw;
      }
      .social-title {
        margin-top: 7vw;
        font-size: 5vw;
      }
    .social-media-link a {
        font-size: 3vw; 
  }
  .social-media-links {
    flex-direction: row;
    left: 10vw;
  }
  .booking-card {
    top: 60vw; 
    margin-left: 20vw;
  }
  .main-image{
    height: 40vw;
 } 
 .image-container {
    margin-top: 35vw; 
  }
  .reach-us-section{
    margin-left: 10vw;
  }
  .logo {
    position: absolute;
    top: 35vw; /* 300px */ /* 15px */
    width: 20vw;
    height: 14vw;
  }
  .buttons-container{
    top: 50vw;
    left:30vw;
    margin-right: 30vw;
  }
  .more-rooms-button{
    font-size: 3vw;
    margin-left: 2vw;
    border-radius: 1vw; /* 10px */
  }
  .booking-buttons{
    font-size: 3vw;
    margin-left: 2vw;
    color: #8A3324;
    background-color: rgba(138, 51, 36, 0.3);
    border-radius: 1vw; /* 10px */
  }
}
  