/* HomePage.css */

/* Style for the image slider section */


.main-image {
  width: 55vw;
  height: 37vw;
  position: absolute;
  right: 0vw;
  top: 3vw;
}

.image-container {
  margin-top: 2.1875vw;
  min-height: 40vw;
  height: auto;
  width: 100vw;
  position: relative;
}

.homeTopText {
  color: #252525;
  font-size: 4.2vw;
  width: 43vw;
  top: 9vw;
  left: 6vw;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.homepage-whatsapp-icon {
  position: fixed;
  top: 87vh;
  right: 5vw;
  z-index: 1000;
}

.booking-card {
  position: absolute;
  top: 29vw;
  /* 150px */
  background-color: transparent;
  margin-left: 6vw;
}

.logo {
  position: absolute;
  /* 300px */
  /* 15px */
  top: 3vw;
  width: 6vw;

}

.more-rooms-button {
  font-size: 1.3vw;
    margin-left: 1vw;
    border-radius: 0.625vw;
    background: #FF8935;
    color:white;
    border: 0vw solid black;
    cursor: pointer;
    font-weight: bold;
    width: 15vw;
}
.more-rooms-button:active {
  font-size: 1.3vw;
    margin-left: 1vw;
    background: #FF8935;
    color:white;
        border-radius: 0.625vw;
    border: 0.2vw solid black;
    cursor: pointer;
    font-weight: bold;
    width: 15vw;
}
.more-rooms-button:hover {
  font-size: 1.3vw;
    margin-left: 1vw;
    background: #FF8935;
    color:white;
    border: 0vw solid black;
        border-radius: 0.625vw;
    cursor: pointer;
    font-weight: bold;
    width: 15vw;
}

.booking-buttons {
  font-size: 1.3vw;
  margin-left: 1vw;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.625vw;
  /* 10px */
  border: 0.2vw solid black;
  cursor: pointer;
  font-weight: bold;
  width: 15vw;
  height: 4rem;
}
.booking-buttons:hover {
  background: #FF8935;
  color:white;
  border: 0vw solid black;

}

.our-rooms-title {
  margin-top: 14vw;
  margin-bottom: 2.5vw;
  font-size: 1.875vw;
  /* Equivalent to 30/16vw */
  text-align: center;
  font-weight: bold;
}

.our-rooms-title span {
  border-bottom: 2px solid #B8860B;
  display: inline-block;
  font-family: cursive;
  color: #B8860B;
}

.title-page {
  margin-top: 4vw;
  margin-bottom: 2.5vw;
  font-size: 1.875vw;
  /* Equivalent to 30/16vw */
  text-align: center;
  font-weight: bold;
}

.title-page span {
  border-bottom: 2px solid #B8860B;
  display: inline-block;
  font-family: cursive;
  color: #B8860B;
}

/* Styling for "OUR ROOMS" section */
.rooms-section {

  margin-top: 6vw;
  /* 150px */
  display: flex;
}

.buttons-container {
  position: absolute;
  display: flex;
  top: 22vw;
  left: 5vw;
  margin-right: 30vw;
}

.room-card {
  margin-left: 14vw;
}

.room-image {
  width: 180vw;
  height: 30vw;
}

/* Styling for "OUR FACILITIES" section */

.facilityBox {
  width: 100vw;
  min-height: 36vw;
  height: auto;
  background-color: #EAF0FC;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin: 20px 0;
}

.ServiceBox {
  width: 100vw;
  min-height: 29vw;
  height: auto;
  /* background-color: #EAF0FC; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 20px 0;
  gap: 4vw;
}

.titlePage2 {
  margin-top: 4vw;
  margin-bottom: 2.5vw;
  font-size: 2.65vw;
  /* Equivalent to 30/16vw */
  font-weight: bold;
  padding-left: 7vw;
}

.titlePage2 span {
  display: inline-block;
  font-weight: bold;
  /* font-family: cursive;
  color: #B8860B; */
  top: 4vw;
  left: 7vw;
  position: absolute;
}

.facilities-section {
  display: flex;
  margin-left: 0vw;
  /* 90px */
  flex-wrap: wrap;
}


.facility-card {
  margin-left: 6.125vw;
  margin-top: 2vw;
}

.facility-card:hover {
  transform: scale(1.15);
  transition: transform 0.3s;
}

.space {
  margin-left: 0.5vw;
}

.moreFacilitiesButton {
  text-align: center;
  /* margin-top: 3.25vw; */
  /* 20px */
}

.moreFacilitiesButton button {
  font-size: 1.2vw;
  padding: 0.8vw;
  cursor: pointer;
  /* border: 0.125vw solid #8A3324; */
  border-radius: 1.625vw;
  font-weight: bold;
  background-color: transparent;
  /* color: gold; */
  position: absolute;
  top: 4vw;
  right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreFacilitiesButton button:hover {
  font-size: 1.2vw;
  padding: 0.8vw;
  cursor: pointer;
  /* border: 0.125vw solid #8A3324; */
  border-radius: 1.625vw;
  font-weight: bolder;
  background-color: black;
  color: gold;
  /* color: gold; */
  position: absolute;
  top: 4vw;
  right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Additional Facility Cards should have specific class names */


/* Styling for "MORE FACILITIES" button */
.more-facilities-button {
  text-align: center;
  margin-top: 3.25vw;
  /* 20px */
}

.more-facilities-button button {
  font-size: 1.2vw;
  padding: 0.8vw;
  /* 10px */
  cursor: pointer;
  border: 0.125vw solid #8A3324;
  border-radius: 0.625vw;
  /* 10px */
  font-weight: bold;
  background-color: black;
  color: gold;

}

/* Styling for "TESTIMONIALS" section */
.testimonials-section {
  display: flex;
  margin-top: 1vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonialBox {
  width: 100vw;
  min-height: 40vw;
  height: auto;
  background-color: #EAF0FC;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin: 20px 0;
}

.titlePage3 {
  margin-top: 4vw;
  margin-bottom: 0.5vw;
  font-size: 2.65vw;
  font-weight: bold;
  /* padding-left: 7vw; */
  display: flex;
  justify-content: center;
}

.titlePage3 span {
  display: inline-block;
  font-weight: bold;
  font-family: cursive;
  color: #B8860B;
  /* top: 4vw;
  left: 7vw;
  position: absolute; */
}


/* Styling for "Hotel Services" section */
.hotel-services-section {
  display: flex;
  margin-top: 5.625vw;
  /* 90px */
}

.services-container {
  display: flex;
  margin-top: 1vw;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

.service {
  text-align: center;
  /* margin-left: 11vw; */
}

.service-icon {
  font-size: 4vw;
  color: #8A3324;
}

.service-title {
  margin-top: 1vw;
  font-weight: bold;
  font-size: 1.5vw;
  color: #8A3324;
}

.service-description {
  width: 18vw;
  margin-top: 1vw;
  font-size: 1.2vw;
}


/* Styling for "REACH US" section */
.reach-us-section {
  display: flex;
  margin-left: 5.625vw;
  /* 90px */
  margin-bottom: 3.125vw;
  /* 50px */
  flex-wrap: wrap;
}


.contact-details {
  margin-left: 4.375vw;
}

.contact-title {
  font-size: 1.25vw;
  font-weight: bold;
  color: #8A3324;
}

.phone-numbers {
  display: flex;
  font-size: 1vw;
  margin-top: 0.625vw;
  align-items: center;
}

.phone-icon {
  font-size: 1vw;
}

.phone-number {
  font-size: 1vw;
}

.social-title {
  margin-top: 7vw;
  font-size: 1.25vw;
  font-weight: bold;
  color: #8A3324;
}

.social-media-links {

  display: flex;
  flex-direction: column;
}

.social-media-link {
  margin-top: 0.625vw;
  margin-right: 0.625vw;
}

.social-media-link a {
  color: gold;
  font-size: 1.125vw;
  font-weight: bold;
}

.social-media-link a:hover {
  text-decoration: underline;

}


/* Additional Social Media Links should have specific class names */
@media (max-width: 768px) {
  .image-slider img {
    top: 10vw;
    /* 35px */
  }

  .rooms-section {
    flex-direction: column;
    align-items: center;

  }

  .room-card {
    justify-items: center;
    justify-content: center;
    margin-right: 17vw;
  }

  .image-card {
    margin-left: 7vw;
    margin-top: 5vw;
  }

  .more-facilities-button button {
    font-size: 2vw;
  }

  .title-page {
    font-size: 5vw;
    /* Equivalent to 30/16vw */
  }

  .our-rooms-title {
    font-size: 5vw;
    margin-top: 100vw;
  }

  .service-icon {
    font-size: 10vw;

  }

  .service-title {
    margin-top: 3vw;
    font-size: 4vw;

  }

  .service-description {
    margin-top: 1vw;
    font-size: 3vw;
    width: 50vw;
  }

  .reach-us-section {
    display: flex;
    flex-direction: column;
  }

  .contact-details {
    font-size: 1vw;
  }

  .contact-title {
    font-size: 5vw;
    margin-top: 7vw;
  }

  .phone-numbers {
    font-size: 3vw;
    margin-top: 2vw;
    left: 5vw;
  }

  .phone-icon {
    font-size: 3vw;
  }

  .phone-number {
    font-size: 3vw;
  }

  .social-title {
    margin-top: 7vw;
    font-size: 1.25vw;
  }

  .space {
    margin-left: 2vw;
  }

  .social-title {
    margin-top: 7vw;
    font-size: 5vw;
  }

  .social-media-link a {
    font-size: 3vw;
  }

  .social-media-links {
    flex-direction: row;
    left: 10vw;
  }

  .booking-card {
    top: 60vw;
    margin-left: 20vw;
  }

  .main-image {
    height: 40vw;
  }

  .image-container {
    margin-top: 0vw;
  }

  .reach-us-section {
    margin-left: 10vw;
  }

  .logo {
    position: absolute;
    top: 20vw;
    /* 300px */
    /* 15px */
    width: 20vw;
    height: 14vw;
  }

  .buttons-container {
    top: 35vw;
    left: 18vw;
    margin-right: 30vw;
  }

  .more-rooms-button {
    font-size: 3vw;
    margin-left: 2vw;
    border-radius: 1vw;
    /* 10px */
    width: 20vw;
    height: 10vw;
  }

  .booking-buttons {
    font-size: 3vw;
    margin-left: 2vw;
    /* color: #8A3324;
    background-color: rgba(138, 51, 36, 0.3); */
    border-radius: 1vw;
    /* 10px */
    width: 20vw;
    height: 10vw;
    color: #f7e4e4;
    background-color: rgb(4 55 115);
  }

  .more-rooms-button {
    margin-left: 1vw;
    color: #f7e4e4;
    background-color: rgb(4 55 115);
    border-radius: 0.625vw;
    /* 10px */
    border: 0.2vw solid black;
    cursor: pointer;
    font-weight: bold;
    width: 20vw;
  }

  .homepage-whatsapp-icon {
    position: fixed;
    top: 85vh;
    right: 5vw;
    z-index: 1000;
  }

  .facilities-section {
    display: flex;
    margin-left: 0vw;
    /* 90px */
    flex-wrap: wrap;
    margin-top: 9vw;
    margin-bottom: 5vw;
  }

  .moreFacilitiesButton button {
    font-size: 2.2vw;
    padding: 0 0.8vw;

  }

  .titlePage2 {

    font-size: 4.375vw;

  }

  .services-container {
    flex-direction: column;
  }

  .titlePage3 span {
    font-size: 6vw;
  }

  .testimonialBox {
    min-height: 166vw;
    height: auto;
  }

  .main-image {
    width: 100vw;
    height: 35vw;
    position: unset;
    clip-path: none;

  }

  .image-container {
    position: unset;
  }

  .homeTopText {
    display: none;
  }

}