.room1-card {
 margin-left: 2.7vw;
  width: 30vw;
  display: flex;
  }
  
 .room1-card-container{ 
   font-size: 1vw;
   margin-top:0.5vw }
.room1-card-price{
  font-size: 1vw;
}  
/* RoomFeatures.css */

.room-features-container {
  font-size: 1vw;
  font-weight: bold;
  color: #000; /* Change the color as needed */
  margin-top: 2vw;
}

.room-features-label {
  display: flex;
  margin-top: 0.3125vw; /* Adjust as needed */
  font-weight: bold;
  margin-top: 1vw;
  color: #8A3324
}

.room-features-chip { /* Adjust as needed *//* Adjust as needed */
  font-size: 0.6vw;
  color: gold;
  margin-right: 0.3vw; /* Adjust as needed */
margin-top: 0.5vw;
font-weight: bold;
}
.room-card-full-container{
  margin-left: 1vw;
}
.room-features-facilities-container {
  font-size: 1vw;
  font-weight: bold;
  color: #8A3324; /* Change the color as needed */
  flex-direction: row;
}

.room-features-facilities-label {
  margin-top: 0.3125vw; /* Adjust as needed */
  font-weight: bold;
  margin-top: 3vw;
  font-size: 1.3vw;
}

.roomcard-features-facilities-chip {
  width: 6vw; /* Adjust as needed */
  height: 1.25vw; /* Adjust as needed */
  font-size: 0.6vw;
  color: gold;
  margin-right: 0.3vw; /* Adjust as needed */
  margin-top: 6vw;
}

.room-features-guests-label {
  font-size: 1.3vw;
  font-weight: bold;
  color: #8A3324; /* Change the color as needed */
  margin-top: 2vw;
}

.room-features-guests-chip {
/* Adjust as needed */ /* Adjust as needed */
width: 6vw;
  font-size: 0.6vw;
  color: gold;
  margin-right: 0.3125vw; /* Adjust as needed */
  font-weight: bold;
}


.room-features-rating-container {
  font-size: 1vw;
  font-weight: bold;
  color: #8A3324;
  margin-top: 2vw; /* Change the color as needed */
}

.room-features-rating-chip {
  width: 6vw; /* Adjust as needed */
  height: 1.25vw; /* Adjust as needed */
  font-size: 0.6vw;
  color: gold;
  margin-top: 2vw;
  font-weight: bold;
}
.booking-room-modal{
    top:  0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 6000;
}
.booking-room-modal-card{
  margin-left: 30vw; margin-right: 30vw; margin-top: 1.5vw; display: flex; border-radius: 1.25vw; background-color: lightyellow;
}
.booking-room-modal-form{
   display: flex; flex-direction: column; align-items: center; width: 200%; border: chocolate;margin-bottom: 2vw;
}
.booking-room-modal-header{
font-size: 1.6vw; font-weight: bold; border-bottom: 2px solid #B8860B; display: inline-block; font-family: cursive; color: #B8860B;
}
.booking-room-modal-container{
display:flex
}
.booking-room-modal-field-container {
  flex: 1;
  padding-right: 20px; /* Adjust as needed */
}

.booking-room-modal-field-header {
  font-size: 1.25vw;
  margin-top: 1.25vw;
  color: #0000CD;
}

.booking-room-modal-input {
  font-size: 18px;
  width: 15vw;
  padding: 5px;
}

.booking-room-modal-select {
  font-size: 18px;
  width: 15vw;
  padding: 5px;
}

@media (max-width: 600px)  {
  .room1-card {
     width: 90vw;
    justify-content: center;
    align-items: center;

     }
     .room1-card-container{ 
      font-size: 3vw;
      margin-top:1.5vw;
      margin-left: 2vw;
      }
   .room1-card-price{
     font-size: 3vw;
     margin-left: 2vw;
   }
   .room-features-guests-label {
    font-size: 4vw;
    margin-top: 4vw;
  }
  .room-features-container {
    font-size: 3vw;
    margin-top:5vw;
  }
  
  .room-features-label {
    margin-top: 5vw; /* Adjust as needed */
  }
  
  .room-features-chip { /* Adjust as needed */
    font-size: 1.5vw;
    margin-right: 3vw; /* Adjust as needed */
    margin-top: 1vw;
  }
  .room-features-facilities-container {
    font-size: 1vw;
    font-weight: bold;
    color: #8A3324; /* Change the color as needed */
    flex-direction: row;
    margin-top: 10vw;
  }
  
  .room-features-facilities-label { /* Adjust as needed */
    font-size: 4vw;;
  }
  
  .roomcard-features-facilities-chip {
    width: 15vw; /* Adjust as needed */
    font-size: 4.5vw;
    margin-right: 1vw; /* Adjust as needed */
    margin-top: 5vw;
  }
  .room-features-guests-chip {
    width: 30vw; /* Adjust as needed */ /* Adjust as needed */
    font-size: 2vw;
    color: gold;
    margin-right: 0vw; /* Adjust as needed */
  }
  .room-features-rating-container {
    font-size: 4vw;
    margin-top: 5vw; /* Change the color as needed */
  }
  
  .room-features-rating-chip {
    width: 20vw; /* Adjust as needed */
    height: 5vw; /* Adjust as needed */
    font-size: 3vw;

    margin-top: 6vw;
  }


  .booking-room-modal-card{
    margin-left: 10vw; margin-right: 10vw; margin-top: 5vw; border-radius: 4vw; 
  }
  .booking-room-modal-form{
 width: 100%; 
  }
  .booking-room-modal-header{
  font-size: 5vw; 
  }
  .booking-room-modal-container{
  flex-direction: column;
  }
  .booking-room-modal-field-container {
    flex: 1;
    padding-right: 20px; /* Adjust as needed */
  }
  
  .booking-room-modal-field-header {
    font-size: 4vw;
    margin-top: 4vw;
  }
  
  .booking-room-modal-input {
    font-size: 18px;
    width: 45vw;

  }
  
  .booking-room-modal-select {
    font-size: 18px;
    width: 45vw;

  }
  .room-card-full-container{
    margin-left:5vw;
  }
}