.custom-card-content {
    
}
  
  .custom-title {
    font-weight: bold;
    font-size: 1.125vw; /* (18 / 16)vw */
    color: #8A3324;
  }
  
  .custom-text {
    font-size: 1.1vw;
    margin-top: 0.5vw;
  }
  
  .custom-chip {
    margin-top: 0.3125vw; /* (5 / 16)vw */
    font-size: 1.125vw; /* (18 / 16)vw */
  }
  
  .custom-star {
    color: gold;
    font-size: 1.1vw;
    /* Add styles for the stars here */
  }
  .testimonial-card-container{
    cursor:auto;
    
  }
  .testimonial-card{
    margin-left: 7.5vw;
    width: 15vw;
    min-height: 22vw;
    
    
  }
  .testimonial-card-chip{
    position:absolute;
    top:18vw;
    margin-top: 0.5vw;
  }
  @media (max-width: 600px)  {
    .testimonial-card{
        margin-left: 10vw;
        width: 35vw;
        margin-top: 4vw;
      }
      .custom-title {
        font-size: 4vw; /* (18 / 16)vw */;
      }
      .custom-text {
        font-size: 3vw;
        margin-top: 2vw;
      }
      .custom-star{
        font-size: 3vw;
      }
  }