/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  /* Apply some global styles to the body or other elements */
  body {
    font-family: Arial, sans-serif;
    /* background-color:azure; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* Define styles for specific HTML elements */

  
  p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
